/* .logo{
    justify-content: center;
    margin-left: 40px;
    width: 80%
}
.header, .footer{
    /* height: 160px; 
    display: flex;
    height: 240px;
    border-bottom: groove 1px grey;
    margin: 30px;
    width: 100%; 
    
    
}
.navlink {
    text-decoration: none;
    margin: 40px;
    text-align: left;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}
navlink:visited{
    color: black;
}
.h1{
    margin-left: 100px;
    padding-top: 60px;
    text-align: center; 
    font-size: 40px;
}

.theLogo {
    align-self: left;
    margin: 10px;
    background-image: url(../Header/businesslogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
    border: solid 1px black;
    border-radius: 5%;
    width: 110px;
    
} */
